<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>::Flexib Learning::</title>    
	<link href="css/redmond/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" />
	<link href="css/site.css" rel="stylesheet" type="text/css" />    
	<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="container">
		<div id="header">
        	<div id="logo" class="left">
            	<img src="images/logo.png" />
                <p>English for <span class="text-red">everybody</span></p>
            </div>
            <div id="menu" class="right">
				<ul class="menu">
                	<li class="menu-item ui-corner-all">
                    	<a href="#">TRANG CHỦ</a>
                    </li>
                    <li class="menu-item ui-corner-all">
                    	<a href="#">GIỚI THIỆU</a>
                    </li>
                    <li class="menu-item ui-corner-all">
                    	<a href="#">VIDEO</a>
                    </li>    
                    <li class="menu-item ui-corner-all">
                    	<a href="#">BLOG GIÁO VIÊN</a>
                    </li>             
                    <li class="menu-item ui-corner-all">
                    	<a href="#">LIÊN HỆ</a>
                    </li>                                                   
                </ul>	
            </div>
            <!--<div id="search-login" class="right">
            	<div id="login">
                </div>
                <div id="search">
                	<form>
                    	<input type="text" />
                    </form>
                </div>		
            </div>-->
            <div class="clear"></div>
      </div>
        <div id="content">
        	<div class="ui-state-default language-bar">
            	<div class="left national-bar">
                	<div style="margin-top:7px">
	                    <a href="#" class="english-icon national-con">English</a>
        	            <a href="#" class="korean-icon national-con">Korean</a>                
    	                <a href="#" class="french-icon national-con">French</a>                
                    </div>    
                </div>
                <div class="right">
                	<div>
                	<input type="text" class="search-bar" />
                    <button class="search-btn"></button>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>
