@charset "utf-8";
/* CSS Document */

* {
	font-family:Arial, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
}

ol, ul, li {
    list-style: none outside none;
}

a, .ui-widget a {
    color: #0000FF;
    text-decoration: none;
}

body {
    background: url(../images/bg-site.png) repeat scroll left top #E7E7E0;
    color: #000000;
    font: 0.83em/150% georgia,times,serif,"Courier New";
}

#container {
	width : 1024px;
	margin: 0 auto;
}

#header {
	background:#F9F9F9;
}

.menu {
	margin-left:0px;
	padding-left:20px;
}

.box-shadow {
	-moz-box-shadow: 3px 3px 4px #CCC;
	-webkit-box-shadow: 3px 3px 4px #CCC;
	box-shadow: 3px 3px 4px #CCC;
}

.menu .menu-item { 
    float: left;
    margin: 3px;
    padding: 5px;
	font-weight:bold;
	background : #00bcf2;
	width:120px;
	text-align:center;
	-moz-box-shadow: 3px 3px 4px #CCC;
	-webkit-box-shadow: 3px 3px 4px #CCC;
	box-shadow: 3px 3px 4px #CCC;
}

.menu .menu-item:hover {
	background:#f1f7fb;
}

.menu-item.selected {
	background:#EE2B29;
}

.menu-item a {
	outline: medium none;
    text-decoration: none;
	padding-left:5px;
	padding-right:5px;
	/*color:#1b82a7;*/
	color:#ffffff;
}

.menu-item a:hover {
	color:#0000FF;
}

#menu {
	margin-top: 20px;
	padding:10px;
}

#content {
	-moz-box-shadow: 3px 3px 4px #CCC;
	-webkit-box-shadow: 3px 3px 4px #CCC;
	box-shadow: 3px 3px 4px #CCC;
}

#logo {
	text-align:center;
	padding:10px;
}

#logo p {
	padding-top:0px;
	margin-top:0px;
	color:#01b8f1;
}

.text-red {
	color : #ee2b29;
}

.language-bar {
	padding:5px;
	height: 35px;
}

.language-bar div div {
	margin-top:7px;
}

.english-icon {
	background:url(../images/United-States-Flag-16.png) no-repeat;
	padding-left:20px;
}

.national-con {
	padding-left:20px;	
	padding-right:10px;
}

.korean-icon {
	background:url(../images/south_korea_16.png) no-repeat;
}

.french-icon {
	background:url(../images/France-flag-16.png) no-repeat;

}

.vietnamese-icon {
	background:url(../images/vietnam_16.png) no-repeat;
}

.search-bar {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 10px 10px 10px 10px;
    color: #333333;
    font-size: 1.5em;
    height: 19px;
    line-height: 1;
    padding: 2px 5px;
    width: 286px;
	position:absolute;
	left:-310px;
}

.search-btn {
 	background: url(../images/icon_searchglass.png) no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    font-size: 1.1em;
    height: 35px;
    position: relative;
    right: 25px;
    top: -5px;
    width: 35px;
}

.national-bar {
	margin:auto;
	height:inherit;
}

.main-info {
	background-color:#F3F3F3;
	border:1px solid #CCC;
}

.main-info .left-panel {
	width:700px;
	padding:5px;
}

.main-info .right-panel {
	width:312px;
}

.right-panel .ui-widget {
	margin-bottom:5px;
}

.category {
	background-color:#FFFFFF;
}

.category-title {
	font-weight:bold;
	padding:5px;
	color: #ee2b29;
	border-bottom:1px solid #999;
}

.category-content {
	margin-top:10px;
	margin-bottom:10px;
}

.one-video {
	float : left;
	width:220px;
	padding:5px;	
	text-align:center;
}

.one-video img {
	width:140px;
}

.video-link {
	margin-top:-10px;
}

.video-link a {
	text-decoration:none;
}

.video-author {
	font-style:italic;
	font-size:0.9em;	
}

.video-author .post-by {
	font-size:0.9em;
}

.video-author a {
	text-decoration:none;
	font-style:normal;
	color:#ee2b29;
}

.video-time, .video-corner-text span {
    background-color: #000000;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF !important;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 14px;
    line-height: 14px;
    opacity: 0.75;
    padding: 0 4px;
    top: -25px;
    position: relative;
    left: 40px;
}

a:hover {
	text-decoration:underline;
}

.title-bar {
	background:#00BCF2;
	font-weight:bold;
	padding:5px;
	color:#FFFFFF;
	font-size:0.8em;
}

.center-content {
	text-align:center;
}

#banner2 {
	float:left;
}

#banner3 {
	float:right;
}

.online-support {
	text-align:center;
}

.one-video-2, .user-info-box {
	padding:5px;
}

.one-video-2:hover {
	background-color:#F3F3F3;
}

.one-video-2 .video-short-description {
	margin-left:5px;
}

.one-video-2 .title a {
	font-size:0.9em;
	color:#0000FF;
	text-decoration:none;
}

.video-views {
	font-style:oblique;
	font-size:0.8em;
	color:#CCC;
}

#footer {
	background:#00BCF2;
	color:#FFF;
	padding:10px;
	font-size:0.8em;
	line-height:1.3em;
	-moz-box-shadow: 3px 3px 4px #CCC;
	-webkit-box-shadow: 3px 3px 4px #CCC;
	box-shadow: 3px 3px 4px #CCC;
}

#footer a {
	color : #FFF;
}

#footer .left-panel {
	font-size:0.9em;	
}

#footer .follow-us .fb-tw-panel {
	margin-left:5px;
}