@CHARSET "ISO-8859-1";

#admin table {
	width : 100%;
}

#admin th {
	text-align: left;
	background-color: #DDDDDD;
	padding : 5px;
}

#admin tr:nth-child(even) {
	background: #F1F1F1;
}

#admin td {
	padding : 5px;
}

#admin .message {
	margin:5px 0px;
}

#admin td.action_col form {
	display: inline;
}

#admin td.image {
	text-align: center;
}

#admin td.image img {
	max-width: 200px;
}

#admin .avatar img {
	width : 300px;
}

#admin .video {
	width : 620px;
}

#admin .avatar {
	text-align: center;
	padding : 5px;
	margin-right : 10px;
	border: 1px solid black;
}

#admin th.box_center {
	text-align: center;
}