<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>::Flexib Learning::</title>    
	<link href="css/redmond/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" />
	<link href="css/site.css" rel="stylesheet" type="text/css" />    
	<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="container">
		<div id="header">
        	<div id="logo" class="left">
            	<img src="images/logo.png" />
                <p>English for <span class="text-red">everybody</span></p>
            </div>
            <div id="menu" class="right">
				<ul class="menu">
                	<li class="menu-item ui-corner-all selected">
                    	<a href="#">TRANG CHỦ</a>
                    </li>
                    <li class="menu-item ui-corner-all">
                    	<a href="#">GIỚI THIỆU</a>
                    </li>
                    <li class="menu-item ui-corner-all">
                    	<a href="#">VIDEO</a>
                    </li>    
                    <li class="menu-item ui-corner-all">
                    	<a href="#">BLOG</a>
                    </li>             
                    <li class="menu-item ui-corner-all">
                    	<a href="#">LIÊN HỆ</a>
                    </li>                                                   
                </ul>	                
            </div>

            <!--<div id="search-login" class="right">
            	<div id="login">
                </div>
                <div id="search">
                	<form>
                    	<input type="text" />
                    </form>
                </div>		
            </div>-->
            <div class="clear"></div>
     	</div>
        <div id="content">
        	<div class="ui-state-default language-bar ui-corner-top">
            	<div class="left national-bar">
                	<div style="margin-top:7px">
	                    <a href="#" class="english-icon national-con">English</a>
        	            <a href="#" class="korean-icon national-con">Korean</a>                
    	                <a href="#" class="french-icon national-con">French</a>                
                    </div>    
                </div>
                <div class="right">
                	<div>
                		<input type="text" class="search-bar" />
	                    <button class="search-btn"></button>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
            
            <div class="main-info">
				<div class="left-panel left">
                	<div class="category ui-corner-all">
						<div class="category-title">GIÁO TRÌNH ANH VĂN CAO CẤP</div>
                        <div class="category-content">
                            <div class="one-video">
                            	<div>
                                	<div>
                                    	<img src="images/thumbnails/thumb1.jpg" />
                                    </div>
                                    <div class="video-time">05:12</div>
                                    <div class="video-link">
                                        <a href="#">Auxiliary verb</a>
                                    </div>
                                    <div class="video-author">
                                        <span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="one-video">
                            	<div>
                                	<div>
                                    	<img src="images/thumbnails/thumb1.jpg" />
                                    </div>
                                    <div class="video-time">05:12</div>
                                    <div class="video-link">
                                        <a href="#">If condition sentence (unreal situation)</a>
                                    </div>
                                    <div class="video-author">
                                        <span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="one-video">
                            	<div>
                                	<div>
                                    	<img src="images/thumbnails/thumb1.jpg" />
                                    </div>
                                    <div class="video-time">05:12</div>
                                    <div class="video-link">
                                        <a href="#">Auxiliary verb</a>
                                    </div>
                                    <div class="video-author">
                                        <span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="clear"></div>
                            
                            <div class="one-video">
                            	<div>
                                	<div>
                                    	<img src="images/thumbnails/thumb1.jpg" />
                                    </div>
                                    <div class="video-time">05:12</div>
                                    <div class="video-link">
                                        <a href="#">Greetings like a native speaker</a>
                                    </div>
                                    <div class="video-author">
                                        <span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="one-video">
                            	<div>
                                	<div>
                                    	<img src="images/thumbnails/thumb1.jpg" />
                                    </div>
                                    <div class="video-time">05:12</div>
                                    <div class="video-link">
                                        <a href="#">Auxiliary verb</a>
                                    </div>
                                    <div class="video-author">
                                        <span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="one-video">
                            	<div>
                                	<div>
                                    	<img src="images/thumbnails/thumb1.jpg" />
                                    </div>
                                    <div class="video-time">05:12</div>
                                    <div class="video-link">
                                        <a href="#">Advanced auxiliary verb, using in IELTS writing</a>
                                    </div>
                                    <div class="video-author">
                                        <span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="clear"></div>
                        </div>
                    </div> <!--end category-->
                    
                    <div class="category ui-corner-all">
						<div class="category-title">GIÁO TRÌNH ANH VĂN SIÊU CẤP(TRÌNH ĐỘ CHỬI LỘN)</div>
                        <div class="category-content">
                            <div class="one-video">
                            	<div>
                                	<div>
                                    	<img src="images/thumbnails/thumb1.jpg" />
                                    </div>
                                    <div class="video-time">05:12</div>
                                    <div class="video-link">
                                        <a href="#">Auxiliary verb</a>
                                    </div>
                                    <div class="video-author">
                                        <span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="one-video">
                            	<div>
                                	<div>
                                    	<img src="images/thumbnails/thumb1.jpg" />
                                    </div>
                                    <div class="video-time">05:12</div>
                                    <div class="video-link">
                                        <a href="#">If condition sentence (unreal situation)</a>
                                    </div>
                                    <div class="video-author">
                                        <span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="one-video">
                            	<div>
                                	<div>
                                    	<img src="images/thumbnails/thumb1.jpg" />
                                    </div>
                                    <div class="video-time">05:12</div>
                                    <div class="video-link">
                                        <a href="#">Auxiliary verb</a>
                                    </div>
                                    <div class="video-author">
                                        <span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="clear"></div>
                            
                            <div class="one-video">
                            	<div>
                                	<div>
                                    	<img src="images/thumbnails/thumb1.jpg" />
                                    </div>
                                    <div class="video-time">05:12</div>
                                    <div class="video-link">
                                        <a href="#">Greetings like a native speaker</a>
                                    </div>
                                    <div class="video-author">
                                        <span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="one-video">
                            	<div>
                                	<div>
                                    	<img src="images/thumbnails/thumb1.jpg" />
                                    </div>
                                    <div class="video-time">05:12</div>
                                    <div class="video-link">
                                        <a href="#">Auxiliary verb</a>
                                    </div>
                                    <div class="video-author">
                                        <span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="one-video">
                            	<div>
                                	<div>
                                    	<img src="images/thumbnails/thumb1.jpg" />
                                    </div>
                                    <div class="video-time">05:12</div>
                                    <div class="video-link">
                                        <a href="#">Advanced auxiliary verb, using in IELTS writing</a>
                                    </div>
                                    <div class="video-author">
                                        <span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="clear"></div>
                        </div>
                    </div> <!--end category-->
                    
                    <div class="category ui-corner-all">
						<div class="category-title">GIÁO TRÌNH ANH VĂN GIAO TIẾP</div>
                        <div class="category-content">
                            <div class="one-video">
                            	<div>
                                	<div>
                                    	<img src="images/thumbnails/thumb1.jpg" />
                                    </div>
                                    <div class="video-time">05:12</div>
                                    <div class="video-link">
                                        <a href="#">Auxiliary verb</a>
                                    </div>
                                    <div class="video-author">
                                        <span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="one-video">
                            	<div>
                                	<div>
                                    	<img src="images/thumbnails/thumb1.jpg" />
                                    </div>
                                    <div class="video-time">05:12</div>
                                    <div class="video-link">
                                        <a href="#">If condition sentence (unreal situation)</a>
                                    </div>
                                    <div class="video-author">
                                        <span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="one-video">
                            	<div>
                                	<div>
                                    	<img src="images/thumbnails/thumb1.jpg" />
                                    </div>
                                    <div class="video-time">05:12</div>
                                    <div class="video-link">
                                        <a href="#">Auxiliary verb</a>
                                    </div>
                                    <div class="video-author">
                                        <span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="clear"></div>
                            
                            <div class="one-video">
                            	<div>
                                	<div>
                                    	<img src="images/thumbnails/thumb1.jpg" />
                                    </div>
                                    <div class="video-time">05:12</div>
                                    <div class="video-link">
                                        <a href="#">Greetings like a native speaker</a>
                                    </div>
                                    <div class="video-author">
                                        <span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="one-video">
                            	<div>
                                	<div>
                                    	<img src="images/thumbnails/thumb1.jpg" />
                                    </div>
                                    <div class="video-time">05:12</div>
                                    <div class="video-link">
                                        <a href="#">Auxiliary verb</a>
                                    </div>
                                    <div class="video-author">
                                        <span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="one-video">
                            	<div>
                                	<div>
                                    	<img src="images/thumbnails/thumb1.jpg" />
                                    </div>
                                    <div class="video-time">05:12</div>
                                    <div class="video-link">
                                        <a href="#">Advanced auxiliary verb, using in IELTS writing</a>
                                    </div>
                                    <div class="video-author">
                                        <span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                
				<div class="right-panel right">
                  <div class="ui-widget">
                      <div class="title-bar ui-corner-top">QUẢNG CÁO</div>
                      <div class="ui-widget-content center-content">
                          <div id="banner1">
                              <embed width="300" height="250" allowscriptaccess="always" wmode="transparent" loop="true" play="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="link=http%3A//180.148.142.153/clk.aspx%3Ft%3D5%26b%3D8803%26s%3D1%26l%3Dhttp%253A//cadisun.com.vn/vi-VN/Ho-tro/Ho-tro-Dai-ly/294/Thu-moi-lam-dai-ly/989.html%253Flang%253Dvi-VN&amp;zoneid=LargeLogo4&amp;actionTag=http%3A//180.148.142.153/act.aspx%3Ft%3D5%26b%3D8803%26r%3D0.19941353106951776" src="http://180.148.142.155/2011/05/11/Cadisun_300x250_100511(1).swf" />
                          </div>
                          
                          <div id="banner2">
                              <embed width="150" height="275" allowscriptaccess="always" wmode="transparent" loop="true" play="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="link=http%3A//180.148.142.153/clk.aspx%3Ft%3D5%26b%3D13424%26s%3D1%26l%3Dhttp%253A//vnexpress.net/gl/ban-doc-viet/2011/08/thi-viet-nhung-doi-tay-ky-dieu-tren-vnexpress/&amp;zoneid=BasicLogo49&amp;actionTag=http%3A//180.148.142.153/act.aspx%3Ft%3D5%26b%3D13424%26r%3D0.960683974378501" src="http://180.148.142.155/2011/08/18/Greencross2_180x300_160811(1).swf" />
                          </div>
                          
                          <div id="banner3">
                              <embed width="150" height="275" allowscriptaccess="always" wmode="transparent" loop="true" play="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="link=http%3A//180.148.142.153/clk.aspx%3Ft%3D5%26b%3D7512%26s%3D1%26l%3Dhttp%253A//gmvietnam.com.vn/&amp;zoneid=BasicLogo48&amp;actionTag=http%3A//180.148.142.153/act.aspx%3Ft%3D5%26b%3D7512%26r%3D0.7260970127740215" src="http://180.148.142.155/2011/09/13/ChevroletV_180x300_130911.swf" />
                          </div>
	                      <div class="clear"></div>                          
                      </div>
                  </div>
                                                   
                  <div class="ui-widget">
                      <div class="title-bar ui-corner-top">
                          HỖ TRỢ TRỰC TUYẾN
                      </div>
                      <div class="ui-widget-content online-support">    
                          <a href="skype:sea2709?chat">
                              <img alt="Hỗ trợ trực tuyến Skype" src="images/Skype.png">
                          </a>
                          <a href="ymsgr:sendim?hdang.sea">
                              <img alt="Hỗ trợ trực tuyến Y!" src="images/Yahoo.png">
                          </a>
                      </div>
                  </div>

				  <div class="ui-widget right-content">
                      <div class="title-bar ui-corner-top">
                          VIDEO ĐƯỢC XEM NHIỀU NHẤT
                      </div>
                      <div class="ui-widget-content">    
                      	<div class="one-video-2">
                        	<img src="images/thumbnails/thumb1.jpg" class="left" />
                            <div class="video-short-description left">
                            	<div class="title">
                                	<a href="#">IELTS vs TOEFL</a>
                                </div>
                                <div class="video-author">
                                	<span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
								</div>
                                <div class="video-views">
                                	123 lượt xem
                                </div>
                                <div class="rating">
                                	<img src="images/star.gif" />
									<img src="images/star.gif" />
                                    <img src="images/star.gif" />
                                    <img src="images/star.gif" />
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>	
                        
                        <div class="one-video-2">
                        	<img src="images/thumbnails/thumb1.jpg" class="left" />
                            <div class="video-short-description left">
                            	<div class="title">
                                	<a href="#">IELTS vs TOEFL</a>
                                </div>
                                <div class="video-author">
                                	<span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
								</div>
                                <div class="video-views">
                                	123 lượt xem
                                </div>
                                <div class="rating">
                                	<img src="images/star.gif" />
									<img src="images/star.gif" />
                                    <img src="images/star.gif" />
                                    <img src="images/star.gif" />
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        
                        <div class="one-video-2">
                        	<img src="images/thumbnails/thumb1.jpg" class="left" />
                            <div class="video-short-description left">
                            	<div class="title">
                                	<a href="#">IELTS vs TOEFL</a>
                                </div>
                                <div class="video-author">
                                	<span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
								</div>
                                <div class="video-views">
                                	123 lượt xem
                                </div>
                                <div class="rating">
                                	<img src="images/star.gif" />
									<img src="images/star.gif" />
                                    <img src="images/star.gif" />
                                    <img src="images/star.gif" />
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>    
                        
                        <div class="one-video-2">
                        	<img src="images/thumbnails/thumb1.jpg" class="left" />
                            <div class="video-short-description left">
                            	<div class="title">
                                	<a href="#">IELTS vs TOEFL</a>
                                </div>
                                <div class="video-author">
                                	<span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
								</div>
                                <div class="video-views">
                                	123 lượt xem
                                </div>
                                <div class="rating">
                                	<img src="images/star.gif" />
									<img src="images/star.gif" />
                                    <img src="images/star.gif" />
                                    <img src="images/star.gif" />
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        
                        <div class="one-video-2">
                        	<img src="images/thumbnails/thumb1.jpg" class="left" />
                            <div class="video-short-description left">
                            	<div class="title">
                                	<a href="#">IELTS vs TOEFL</a>
                                </div>
                                <div class="video-author">
                                	<span class="post-by">Đăng bởi</span> <a href="#">hdang.sea</a>
								</div>
                                <div class="video-views">
                                	123 lượt xem
                                </div>
                                <div class="rating">
                                	<img src="images/star.gif" />
									<img src="images/star.gif" />
                                    <img src="images/star.gif" />
                                    <img src="images/star.gif" />
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                      </div>
                  </div>
                  
                </div>                
                
                <div class="clear"></div>
            </div>
        </div>
        <div id="footer">
        	&copy;&nbsp;Copyright by FLEXIBLEARNING
        </div>
    </div>
</body>
</html>
